*.bk
*pyc
logs/*
*.sublime*
.vagrant
local_settings.py
pipeline/local_psettings.py
.profile
.bashrc
do_not_commit*
*setup.sh
live/
fulltext*.links
do_not_commit/
.idea/
target/*
.coverage*