git+https://github.com/adsabs/ADSPipelineUtils.git@v1.0.7
beautifulsoup4==4.8.0
ConcurrentLogHandler==0.9.1
dateutils==0.6.6
httpretty==0.8.14
lxml==4.4.1
html5lib==1.0.1
ptree==0.1
requests==2.18.1
